<nav>
  <ul>
    <li><a href="/">Home page</a></li>
    <li><a href="/bicycles">Show bicycles</a></li>
    <li><a href="/categories">Sort by a category</a></li>
    <li><a href="/brands">Sort by a brand</a></li>
  </ul>
</nav>
