<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/navigation') %>
    <h1><%= title %></h1>
    <form method="post" action="">
      <p>Are you sure you want to delete <%= locals.brand.name %>?</p>
      <p>
        <strong>
          Doing so will remove <em>all</em> bicycles that have this brand.
        </strong>
      </p>
      <button type="submit">Delete</button>
    </form>
    <a href="/brands">Go back</a>
  </body>
</html>
